.messages {
  display: flex;

  .contanier {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;

    .title {
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    table {
      width: 100%;
      th {
        text-align: left;
      }

      tr {
        height: 100px;

        td {
          padding: 10px;

          &:first-child {
            font-weight: 500;
          }

          &:nth-child(2),
          &:nth-child(3) {
            color: gray;
          }
        }

        button {
          background-color: #1dbf73;
          color: white;
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          font-weight: 500;
          cursor: pointer;
        }

        &.active {
          background-color: #1dbf730f;
        }
      }
    }
  }
}
