.footer {
  display: flex;
  color: #74767e;
  padding: 50px 0;
  border-top: 1px solid #e9e3e3;

  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .contanier {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    width: 100%;
    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .item {
        gap: 15px;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 16px;
          color: black;
        }

        span{
          cursor: pointer;
        }
      }
    }

    .bottom {
      display: flex;
      margin-top: 100px;
      justify-content: space-between;
      border-top: 1px solid #e9e3e3;
      padding-top: 30px;
      .left {
        display: flex;
        align-items: center;
        gap: 10px;

        h2{
            font-size: 30px;
            font-weight: bold;
        }

        span{
            font-size: 14px;
            font-weight: 300;
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 30px;
        .social{
            display: flex;
            align-items: center;
            gap: 25px;

            img{
                &:hover{
                    background-color: #e9e3e3;
                    border-radius: 50%;
                }
            }

        }
        .link{
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
        }
      }
    }
  }
}
