.slide {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  .contanier {
    width: 100%;
    padding: 30px;

    .carousel-prev,
    .carousel-next {
      width: 50px;
      height: 50px;
      background-color: rgb(237, 236, 236);
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      color: gray;
    }

    h1 {
      margin-bottom: 30px;
      color: gray;
    }
  }
}
