.reviews {
  margin-top: 50px;

  .add {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    gap: 20px;  


    form{
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 90%;

      input{
        border-radius: 5px;
        padding: 20px;
        border: none;
        outline: none;
        border: 1px solid lightgrey;
      }

      select{
        width: 200px;
        padding: 20px;
        border: none;
        outline: none;
        border: 1px solid lightgrey;
        border-radius: 5px;
        align-self: flex-end;
      }

      button{
        cursor: pointer;
        padding: 10px 20px;
        width: max-content;
        align-self: flex-end;
        border: none;
        border: 1px solid lightgrey;
        background-color: #1dbf73;
        color: white;
        border-radius: 5px;
      }
    }
  }
}
